#home{
    background: orange;
    color: white;
}
.laranja{
    background:orange;
}

#mudanca li a{
    color:white;
}

#mudanca li a:hover{
    background: white;
    color:black;
}

.espacos{
    padding:60px 0;
    border-bottom: 1px solid #e5e5e5;
}
footer p a{
    margin:5px 15px;
}